/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/app/livewire-tmp
/database/database.sqlite
/vendor
/.idea
/.vscode
/storage/app/tailwind.config.json
.env
.env.backup
.phpunit.result.cache
.php-cs-fixer.cache
npm-debug.log
yarn-error.log
yarn.lock
_ide_helper.php
