includes:
  - ./vendor/nunomaduro/larastan/extension.neon

parameters:

  paths:
    - app

  # The level 8 is the highest level
  level: 5

  excludePaths:
    - ./app/Services
    - ./app/Http/Controllers/Translations/TranslationsController.php
    - ./app/Console/Commands/SyncTranslationsCommand.php

  ignoreErrors:
    - '#Unsafe usage of new static#'

  checkMissingIterableValueType: false
