@import './fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

[contenteditable]:empty:before {
    content: attr(placeholder);
    pointer-events: none;
    outline: none;
    display: block; /* For Firefox */
}

/* Fixes a weird bug that adds a trailing line to every code block */
.prose pre code::after {
    display: none;
}


[x-cloak] {
    display: none;
}
